.product-card{
    background-color: var(--clr-white);
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position:relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-image{
    border-radius:8px;
    margin:1.5rem 1.5rem 8px 1.5rem;
    width:10rem;
    height:10rem;
    background-color:var(--secondary-clr);
}

.product-title{
    text-align: center;
    font-weight: 450;
    margin: 0 2px;
}

.product-pricing{
    margin: 0.5rem 1rem 1rem 1rem;
}

.card-badge{
    background-color:var(--secondary-clr-2);
    color:var(--clr-white);
}

.card-like{
    background: transparent;
    border:none;
    color:var(--accent-clr);
    width:2rem;
    height:2rem;
    font-size:1.25rem;
    position:absolute;
    right:4px;
    top:4px;
}

.button-img{
    width:1.4rem;
    vertical-align: baseline;
    display: inline-block;
}

.text-button{
    border:none;
    background-color: transparent;
}

.text-button:hover{
    box-shadow: none;
}

.product-showcase{
    border-radius:1rem;
    flex-wrap: wrap;
    padding:1rem;
    width:54rem;
    margin:1rem;    
}

.addToCart-btn, .addedToCart-btn{
    background-color: var(--secondary-clr-2);
    color:var(--primary-clr);
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color:var(--clr-white);
    font-size: medium;
    padding:0.5rem;
    width:100%;
}

.addToCart-btn:hover,.addedToCart-btn{
    background-color: var(--primary-clr);
    color:var(--clr-white);
}

.card-like{
    background: transparent;
    border:none;
    color:var(--accent-clr);
    width:2rem;
    height:2rem;
    font-size:1.25rem;
    position:absolute;
    right:4px;
    top:4px;
    border:none;
    border-radius:50%;
    background-color: var(--teritiary-clr);
}

.card-dismiss:hover, .card-cart:hover, .card-like:hover{
    border:none;
    border-radius:50%;
    background-color: var(--teritiary-clr);

}

.card-product-price{
    margin-right: 5px;
}

.rating-badge{
    border: none;
    border-radius: 3px;
    background-color: var(--secondary-clr);
    padding: 1px 2px;
    vertical-align: center;
    text-align: center;
}

.mg-t-1{
    margin-top: 1rem;
}