.footer-container{
    background-color:var(--primary-clr);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color:var(--clr-white);
    width: 100%;
    height:15rem;
    padding:2rem;
    margin: 0;
}

.footer-links-container{
    padding:1rem 10rem;
    width:70rem
}

.footer-link{
    color:var(--clr-white);
    width:fit-content;
    padding:1px;
    border:solid transparent 1px;
}

.footer-link:hover{
    color:var(--clr-white);
    border-bottom: solid var(--clr-white) 1px;
}


.footer-credits{
    border-top:solid var(--clr-white) 1px;width:100%;
    padding:1rem;
}